* {
	margin: 0;
	font-family: surin;
	background-image: url(./Backg.png);
	text-align: center;
}

form {
	display: flex;
}
fieldset {
	width: 500px;
	border: coral solid 0.2rem;
}
label {
	color: #f7d716;
}
legend {
	color: #f7d716;
	border: #f7d716 solid 0.1rem;
}
input {
	font-size: 0.9rem;
	color: #ec9b3b;
	border: #f7d716 solid 1px;
	border-radius: 5px;
}
textarea {
	color: #ec9b3b;
	border: #e14d2a solid 2px;
}
button {
	color: #f18f43;
	border: #e16541 solid 1px;
	border-radius: 5px;
	cursor: pointer;
}
.gen {
	cursor: pointer;
}
h1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;

	font-size: 7em;
	width: 12em;
}

.rainbow-text {
	background: #ca4246;
	background-color: #ca4246;
	background: conic-gradient(
		#ca4246 16.666%,
		#e16541 16.666%,
		#e16541 33.333%,
		#f18f43 33.333%,
		#f18f43 50%,
		#8b9862 50%,
		#8b9862 66.666%,
		#476098 66.666%,
		#476098 83.333%,
		#a7489b 83.333%
	);

	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: rainbow-text-animation-rev 0.5s ease forwards;

	cursor: pointer;
}

.rainbow-text:hover {
	animation: rainbow-text-animation 0.5s ease forwards;
}

@keyframes rainbow-text-animation {
	0% {
		background-position: 0 0;
	}
	20% {
		background-position: 0 1em;
	}
	100% {
		background-position: -9em 1em;
	}
}
@keyframes rainbow-text-animation-rev {
	0% {
		background-position: -9em 1em;
	}
	20% {
		background-position: 0 1em;
	}
	100% {
		background-position: 0 0;
	}
}
/* #EFF5F5
#D6E4E5
#497174
#EB6440 

#E14D2A
#FD841F
#3E6D9C
#001253

#293462
#F24C4C
#EC9B3B
#F7D716*/
